 
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-color {
    background: #0B486B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
 }
 .home-grid{

        background: #0B486B;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
 }

.avatar-img {
    height: 250px;
    padding-top: 5em;

}
.banner-text {

    background-color: black;
    opacity: .6;
    width: 60%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;

}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;

}


.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;

}

.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;

}

.projects-grid {
    display: flex;
    background: #0B486B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    
    left: 0;
    width: 100%;
    height: 100%;
  }

/* contact page css */

.contact-body {
    background: #0B486B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
  }
  
  .contact-grid {
    
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color: black;
    margin-bottom: 20px;
  }
  
  .contact-grid h2 {
    font-family: 'Anton', sans-serif;
  }
  
  .contact-body p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
  }
  
  .contact-body hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
  }
  
  .contact-body i {
    font-size: 50px;
    padding-right: 2rem;
  }
  
  
  /* contact page css */
  




code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
span{
    padding-inline-start: 50px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
    background-color: rgb(0, 81, 255);
    opacity: 0.6;
    position: fixed;
    top: 0;
    width: 100%;
}

.pretty{
    text-align: center
}

.displayed {
    
    margin-left: auto;
    margin-right: auto }

li {
    float: left;
    border-right: 1px solid rgba(187, 187, 187, 0.529)
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: none;
}
/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: rgb(75, 115, 215);
}
p {
    font-weight: bold;
    text-align: center;
}
